<?xml version="1.0"?>
<config>
    <modules>
        <Hellux_News>
            <version>0.1.0</version>
        </Hellux_News>
    </modules>
    <frontend>
        <routers>
            <news>
                <use>standard</use>
                <args>
                    <module>Hellux_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
        <layout>
            <updates>
                <news>
                    <file>hellux_news.xml</file>
                </news>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <hellux_news>
                <class>Hellux_News_Model</class>
                <resourceModel>hellux_news_resource</resourceModel>
            </hellux_news>
            <hellux_news_resource>
                <class>Hellux_News_Model_Resource</class>
                <entities>
                    <news>
                        <table>hellux_news_news</table>
                    </news>
                </entities>
            </hellux_news_resource>
        </models>
        <blocks>
            <hellux_news>
                <class>Hellux_News_Block</class>
            </hellux_news>
        </blocks>
        <helpers>
            <hellux_news>
                <class>Hellux_News_Helper</class>
            </hellux_news>
        </helpers>
        <resources>
            <hellux_news_setup>
                <setup>
                    <module>Hellux_News</module>
                </setup>
            </hellux_news_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hellux_News before="Mage_Adminhtml">Hellux_News_Adminhtml</Hellux_News>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>